.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

.wrapper{
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
}